[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
requests = "*"
colorlog = "*"
pytz = "*"
sqlalchemy = "*"
alembic = "*"
pytest = "*"
galaxy-crawler = {editable = true,path = "."}
uroboros = ">=0.2.0"
tqdm = "*"
numpy = "*"
pandas = "*"
pyyaml = "*"
gitpython = "*"
fasteners = "*"
bashlex = "*"

[requires]
python_version = "3.7"

[scripts]
test = "py.test tests"
